*{
 text-align: none;
 box-sizing: border-box;
 /* margin:none; */
 padding: none;
}
.pack{
    background-image: url(../src/imageStorage/star.gif);
    background-repeat: no-repeat;
    background-size: cover; 

}
/* .pack, .pack1{
    height:100vh;
} */
.signBody{
    width: 60vw;
    /* display: flex; */
    /* align-content: center; */
    background-color: rgb(113, 140, 175);
    /* justify-items: center;
    /* justify-content: center; */
    /* justify-self: center; */
    margin-left: 20%;
    box-shadow: 3px -3px 6px 1px rgb(219, 214, 214);
    /* height:50vh; */
     margin-top:50px;
     position: absolute;
     /* height:85vh; */
     color: white;
     
    
    /* background-color: rgb(46, 45, 45); */
}

.Label{
    /* margin-left: -253px; */
    float:left;
}
.mark{
    text-align: left;
    /* background-color: none !important; */
    background-color: transparent

}